<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <customBinding>
                <binding name="ZFMABBYY_TEST">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:rfc:functions':    -->
                    <!--    <wsdl:binding name='ZFMABBYY_TEST'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <reliableSession ordered="false" reliableMessagingVersion="WSReliableMessaging11"/>
                    <mtomMessageEncoding messageVersion="Soap11WSAddressing10"/>
                    <httpTransport/>
                </binding>
                <binding name="ZFMABBYY_TEST_soap12">
                    <!--    WsdlImporter encountered unrecognized policy assertions in ServiceDescription 'urn:sap-com:document:sap:rfc:functions':    -->
                    <!--    <wsdl:binding name='ZFMABBYY_TEST_soap12'>    -->
                    <!--        <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">..</sapattahnd:Enabled>    -->
                    <reliableSession ordered="false" reliableMessagingVersion="WSReliableMessaging11"/>
                    <mtomMessageEncoding/>
                    <httpTransport/>
                </binding>
            </customBinding>
        </bindings>
        <client>
            <endpoint address="http://erp-pp1.msk.aeroflot.ru:8052/sap/bc/srt/rfc/sap/zfmabbyy_test/300/zfmabbyy_test/zfmabbyy_test?MessageId=989C6E5C-2CC1-11CA-A044-08002B1BB4F5" binding="customBinding" bindingConfiguration="ZFMABBYY_TEST" contract="Service.ZFMABBYY_TEST" name="ZFMABBYY_TEST"/>
            <endpoint address="http://erp-pp1.msk.aeroflot.ru:8052/sap/bc/srt/rfc/sap/zfmabbyy_test/300/zfmabbyy_test/zfmabbyy_test?MessageId=989C6E5C-2CC1-11CA-A044-08002B1BB4F5" binding="customBinding" bindingConfiguration="ZFMABBYY_TEST_soap12" contract="Service.ZFMABBYY_TEST" name="ZFMABBYY_TEST_soap12"/>
        </client>
    </system.serviceModel>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
